*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: darkgray;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.calc{
    width: 470px;
    height: 680px;
    background: black;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.12) 0px 2px 16px 0px;
}
.display{
    color: white;
    font-size: 70px;
    text-align: end;
    padding-top: 20px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
}
.butt1{
    border: none;
    color: white;
    border-radius: 50px;
    padding: 28px 30px;
    width: 22%;
    margin: 10px 6px;
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.372);
}
.butt_0{
    padding: 30px 190px 26px 20px;
}
.butt_orange{
    background-color: crimson;
}
.butt_gray{
    background-color: gray;
}